$color-text-primary: rgb(255, 255, 255);
$color-text-secondary: rgb(170, 170, 170);

$color-background: rgb(33, 33, 33);
$theme-background-color: #0f0f0f;

$border-width: 1px;

$color-primary: rgb(135, 116, 225);
$color-primary-dark: rgb(120, 100, 221);

$color-border-input: rgb(91, 91, 90);

$color-text-meta: #686c72;
$color-chat-hover: rgb(44, 44, 44);

$color-error: #cc1d33;
$color-error-secondary: #e84853;

$font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI",
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-family-monospace: "Cascadia Mono", "Roboto Mono", "Droid Sans Mono", "SF Mono",
  "Menlo", "Ubuntu Mono", "Consolas", monospace;

$header-height: 3.5rem;
