@import "../../../variables";

.card {
  margin: 0;
  background-color: $color-background;

  &_button {
    display: flex;
    align-items: center;

    cursor: pointer;
    padding: 0.5625rem;

    width: 100%;
    height: 100%;
    background-color: $color-background;

    color: $color-text-primary;
    border-radius: 0.75rem;
    text-decoration: none;

    &:hover {
      background-color: $color-chat-hover;
    }
  }

  &_status {
    margin: 0;

    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    z-index: 8;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;

      margin-right: 0.5rem;
      font-size: 1.3125rem;

      width: 3.375rem;
      height: 3.375rem;

      color: white;
      font-weight: bold;
      border-radius: 50%;

      position: relative;
      user-select: none;
      white-space: nowrap;

      &_inner {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        border-radius: 50%;

        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
        background-image: linear-gradient(white -125%, purple);

        img {
          vertical-align: middle;
          border-style: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &_info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 100%;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      overflow: hidden;
      white-space: nowrap;

      &_title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        min-width: 0;

        h3 {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          unicode-bidi: plaintext;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &_time_meta {
        display: flex;
        align-items: center;

        margin-right: 0.1875rem;
        font-size: 0.75rem;

        .time {
          color: $color-text-meta;
        }
      }
    }

    .subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      overflow: hidden;
      white-space: nowrap;

      line-height: 1.5rem;

      &_last_message {
        margin: 0;

        text-align: left;
        position: relative;
        padding-right: 0.25rem;

        font-size: 1rem;
        unicode-bidi: plaintext;
        color: $color-text-secondary;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .sender_name {
          color: $color-text-primary;
          margin-inline-end: 0.1875rem;
        }
      }

      &_badge {
        height: 1.5rem;
        min-width: 1.5rem;

        color: #fff;
        background: rgb(113, 117, 121);

        padding: 0 0.4375rem;
        border-radius: 0.75rem;

        font-weight: 500;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.5625rem;

        span {
          display: inline-flex;
          white-space: pre;
        }
      }
    }
  }
}
